.msg{
	background-color: black;
	color: white;
	padding-top:10px;
}

.stylistImg{
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
 	margin-left: 10px;
}

.requestBtn{
	margin:18px;
}

.stylistRel{
	font-style: italic;
	font-size: 0.8em;
	color: #aaaaaa;
}

.top-row{
	margin-top:10px;
}

.icon{
	height:20px;
	padding-bottom: 5px;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -40px;
}

nav {
  z-index: 10;
}